.mainText{
    text-align: center;
}

.mysteriousMan{
text-align: center;
}

.mysteriousMan img{
    width: 30%;
}

.tipSection{
    text-align: center;
}

.inputSection {
    text-align: center;
}