body {
    text-align: center;
}


.rooms{
    position: relative;
}

.rooms img{
    width: 1000px;
}


.background {
    width: 1240px;
}

.killer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    display: none; /* começa escondido */
}
